.Content {
  background-color: #eee;
}

.Passion {
  width: 80%;
  font-size: 48px;
  padding-top: 1px;
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

.Passion h2 {
  margin-bottom: 60px;
}

.Items {
  list-style: none;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 50px;
}

.Item {
  flex: 1;
  min-height: 30rem;
  min-width: 20rem;
  padding: 2rem;
  border: 1px solid rgba(230, 215, 215, 0.897);
  box-shadow: 2px 3px rgb(216, 211, 211);
  cursor: default;
  margin: 0 2rem 4rem 2rem;
}

/* .Item:hover {
  background-color: #ccc;
} */

.Item h3 {
  margin: 0px 0 30px 0px;
  font-weight: 450;
}
