.Item {
  flex: 1;
  min-height: 28rem;
  min-width: 20rem;
  /* max-width: 33%; */
  padding: 2rem;
  /* border: 1px solid rgba(230, 215, 215, 0.897); */
  border: 1px solid black;
  /* box-shadow: 2px 3px rgb(216, 211, 211); */
  cursor: default;
  margin: 0 2rem 4rem 2rem;
  position: relative;
}

.Overlay {
  transition: all 0.3s ease-out;

  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(26, 30, 31, 0.85);
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 2rem;
}

.Overlay:hover {
  opacity: 1;
}

.Search {
  transition: all 0.3s ease-out;

  transform: translate(0, 70px);
}

.Overlay:hover > .Search {
  color: white;
  transform: translate(0, 160px);
}

/* .Search {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 36%;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  opacity: 0;
  -webkit-transform: translate(0, -50px);
  -moz-transform: translate(0, -50px);
  -ms-transform: translate(0, -50px);
  -o-transform: translate(0, -50px);
  transform: translate(0, -50px);
} */

@media (max-width: 600px) {
  .Item {
    min-width: 17rem;
  }
}

.Item:hover {
  background-color: #ccc;
  cursor: pointer;
}

.Item h3 {
  font-weight: 450;
}

.Item img {
  width: 80%;
  margin-bottom: 2rem;
}

.Tech {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 1rem;
  /* margin-top: 1rem; */
  font-weight: 100;
}
