.Container {
  display: flex;
}
.Modal {
  height: 90vh;
  position: fixed;
  z-index: 500;
  width: 60%;

  top: 5%;

  left: 20%;

  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@media (max-width: 1000px) {
  .Modal {
    width: 90%;
    left: 5%;
  }
}
