.Container {
  display: flex;
  /* overflow: auto; */
}
.Modal {
  position: fixed;
  z-index: 500;
  /* background-color: white; */
  width: 70%;

  --height: 30rem;
  /* height: var(--height); */
  height: 30rem;
  top: calc(50% - var(--height) / 2);

  /* border: 1px solid #ccc; */
  /* box-shadow: 1px 1px 1px black; */
  padding: 16px;
  left: 15%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
  .Modal {
    width: 70%;
    --height: 36rem;
    height: var(--height);
    top: calc(43% - var(--height) / 2);
    left: calc(50% - 35%);
  }
}
