.Container {
  display: flex;
  /* height: 100vh; */
  /* display: none; */
}
.Modal {
  /* display: flex; 
  flex-direction: column; 
  overflow: hidden;  */

  position: fixed;
  z-index: 500;
  width: 60%;

  --height: 42rem;
  max-height: var(--height);
  top: calc(50% - var(--height) / 2);

  left: calc(50% - 30%);

  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@media (max-width: 1000px) {
  .Modal {
    width: 90%;
    left: 5%;
  }
}
