.Top {
  transition-timing-function: ease-in;
  transition: 0.8s;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
  z-index: 90;
}

.Scrolled {
  transition-timing-function: ease-in;
  transition: 0.8s;
  height: 55px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--clr-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
  z-index: 90;
}

.Navigation nav {
  height: 100%;
}

.Name {
  font-size: 20px;
  color: white;
}

.DesktopOnly {
  /* display: none; */
  height: 100%;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
    height: 100%;
  }
}
