.Content {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/img/background-img.jpg');
}

.Intro {
  font-size: 48px;
  color: white;
  padding-top: 1px;
  margin: 0;
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Intro h3 {
  font-weight: 400;
  margin: 20px;
}

.Intro span {
  font-size: 24px;
}