.Content {
  background-color: white;
  margin-bottom: 5rem;
}

.Passion {
  width: 80%;
  font-size: 48px;
  padding-top: 1px;
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

.Passion h2 {
  margin-bottom: 60px;
}

.Items {
  list-style: none;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 50px;
}
