.Content {
  display: flex;
  /* text-align: left;   */
  flex-direction: row;
  flex-wrap: wrap;
}

.Content > div {
  margin: 4rem 2rem 4rem 2rem;
  display: flex;
  /* text-align: left;   */
  flex-direction: row;
  flex-wrap: wrap;
}

.Content > div > div {
  border-style: solid;
  border-color: #aaa;
}

.About {
  padding: 0 2rem;
  max-width: 50rem;
  border-width: 4px 0 4px 4px;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1298px) {
  .About {
    border-right-width: 4px;
    border-bottom-width: 0;
    flex-grow: 1;
    max-width: none;
  }
}

/* .About h2 {
  text-align: center;
} */

/* .About h2 {
  margin-top: 60px;
  font-size: 36px;
  font-weight: lighter;
} */

.About img {
  /* margin: 20px auto; */
  width: 170px;
  border-radius: 50%;
  margin: 2rem 0;
}

.About p {
  font-size: 20px;
  font-weight: lighter;
  align-items: center;
  justify-content: center;
}

.Tools {
  padding: 0 2rem;
  flex: 1;
  min-width: 26rem;
  /* flex-grow: 1;   */
  border-width: 4px;
}

@media (max-width: 499px) {
  .Tools {
    min-width: 0;
  }
}

.Tools div {
  margin: 0;
  list-style: none;
}

.Tools img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
  /* width: 6rem; */
}

.Tools img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
}

.Tools .Black img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  -webkit-filter: invert(75%);
  -moz-filter: invert(75%);
  -ms-filter: invert(75%);
  filter: invert(75%);
  filter: gray; /* IE 6-9 */
  /* width: 6rem; */
}

.Tools .Black img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
}

.Logo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /* min-width: 40rem; */
}

.Logo div {
  margin: 2rem 1rem;
  width: 5rem;
  height: 6rem;
}

.Logo img {
  object-fit: scale-down;
  width: 4.4rem;
  height: 5.5rem;
}
