.Content {
  background-color: #252934;
  padding: 4rem;
  color: white;
}

.Content h1 {
  margin-bottom: 3rem;
}

.Form {
  max-width: 35rem;
  justify-content: center;
  margin: auto;
  /* display: inline-block; */
}

button {
  text-align: left;
  justify-content: left;
  align-items: left;
  color: red;
}
