.Content {
  /* background-image: url('../../assets/img/background-img.jpg'); */
}

.Content h2 {
  margin-top: 1.3rem;
  font-size: 36px;
  font-weight: lighter;
}

footer {
  color: white;
  background-color: var(--clr-primary);
  margin-bottom: 0;
  padding-bottom: 1rem;
}
